body {font-family: cursive;
	font-weight: 100;
	margin:0;
	padding:0;
	background-color: lightblue;}

h1 {font: 1.2em;
	text-align: center;
	justify-content: center;}

* {box-sizing: border-box;}

p {float: right;
	padding: 2px;
	margin: 0px -10px 10px 0px;
	width: 100px;
	text-align:center;
	border: 2px solid black;
	}
div {
	padding: 0px 10px 10px 10px;
	}
section {clear: right;
	}

#p1 {
	background-color: sandybrown;
	}
#p2 {
	background-color: aquamarine;
	}
#p3 {
	background-color: bisque;
	}
.box1 {border: 2px black;background-color: lightcoral;}
.box2 {border: 2px black;background-color: lightcoral;}
@media (min-width: 992px) {
	body {background-color: #c0ffc0;}
	div {float: left;width: 33.33%;}
	.box1 {width: 100%;}
	.box2 {width: 100%;}
		}
@media (min-width: 768px) and (max-width: 991px) {
	body {background-color: lightgrey;}
	div {float: left;width:50%}
	.box1 {width: 100%;}
	.box2 {width: 205%;margin: 20px 0px 0px 0px;}
	}
