body {font-family: Fira Sans, serif;
	font-weight: 100;
margin:0;
padding:0;
background-color: #c0ffc0;}

h1{font: 1.2em;
justify-content: center;}

* {box-sizing: border-box;}
#d1 {
	position: relative;
background-color: blue;
}
#d2 {
	position: relative;
background-color: red;
}
#d3 {
	position: relative;
background-color: yellow;
}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {}
