body {font-family: cursive;
	font-weight: 100;
margin:0;
padding:0;
background-color: #c0ffc0;}

h1{font: 1.2em;
justify-content: center;}

* {box-sizing: border-box;}
#box1 {
	background-color: blue;
	padding: 10px;
	border: 3px solid black;
	margin: 20px;
	height: 100px;
	width: 300px;
	}
#box2 {
	background-color: red;
	padding: 10px;
	border: 3px solid black;
	margin: 20px;
	height: 100px;
	width: 300px;
	}
#box3 {
	background-color: yellow;
	padding: 10px;
	border: 3px solid black;
	margin: 20px;
	height: 100px;
	width: 300px;
	}
#cont1 {
	background-color: #f0f0ff;
	padding: 2px;
	border: 1px solid black;
	margin: 6px;
	width: 200px;
	}
@media (min-width: 768px) and (max-width: 991px) {body {background-color: #c0c0c0;}}
@media (max-width: 767px)
